<div class="row">
    <form class="form-inline">
        <label>Select Project</label> <select ng-model="chosenProject" ng-options="p for p in projects" ng-change="showResults()">
        </select>
    </form>
</div>
<div class="row">
    <div class="kpi">
        <div class="success-kpi">{{successCount}}</div>
        <div class="fail-kpi">{{failCount}}</div>
        <div class="skip-kpi">{{skipCount}}</div>
        <div class="total-kpi"> / {{totalCount}}</div>
    </div>
    <div google-chart chart="chartObject" style="height:400px; width:400px;"></div>


    <div ng-repeat="project in projectResults" class="panel panel-primary">

        <div class="panel-heading"><h2>{{project.title}}</h2></div>
        <p>{{project.date | date:'dd-MM-yyyy HH:mm'}}</p>
        <table class="table">
        <tr>
            <th>Test Case</th>
            <th>Status</th>
            <th>Duration</th>
        </tr>    
        <tr ng-repeat="result in project.results" class="test-{{result.status}}">
            <td>{{result.name}}</td>
            <td>{{result.status}}</td>
            <td>{{result.duration}}</td>
        </tr>
        </table>
    </div>
</div>
